video {
  width: 150px;
  height: 150px;
  float: left;
  cursor: pointer;
  border-radius: 70%;
  object-fit: cover;
}

.streamcomponent {
  position: relative;
  display: flex;
  place-items: center;
  width: 50vw;
  height: 100%;
  margin: 0 auto;
}

.streamcomponent div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  /* position: absolute;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;

  border-bottom-right-radius: 4px; */
}
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ul > li {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: $light;
  color: $white;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.35, 1);
  transform: translate(-50%, -50%);
  transform-origin: center center;
} */
