.video_container {
  height: 85%;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  transition: 0.2s;
}

.video_grid {
  width: 22%;
  text-align: center;
  position: relative;
  height: calc(50% - 12.5px);
  margin-left: 2%;
  margin-bottom: 3%;
}

/* &:nth-child(3n + 1) {
        margin-left: 0px;
      }
      &:nth-child(n + 4) {
        margin-top: 25px;
      } */

.video_box {
  width: 10.5vw;
  height: 10.5vw;
  border-radius: 70%;
  object-fit: cover;
  position: relative;
  transform: scaleX(-1);
}
.ai_video {
  width: 10.5vw;
  height: 10.5vw;
  border-radius: 70%;
  background-image: url('../assets/image/character/video_profile.png');
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

.video_non_src {
  width: 10.56vw;
  height: 10.56vw;
  position: absolute;
  top: 0;
  left: 11.2%;
  border-radius: 50%;
  background-image: url('../assets/image/character/video_profile.png');
  background-size: cover;
  background-position: center;
  display: none;
}

.fl {
  background-color: #000;
  color: #fff;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  width: 10vw;
  border: 2px solid #61ff00;
  margin: 0.3vw auto;
}

.die {
  opacity: 0.5;
  color: red;
  border: 2px solid red;
}

.toasted {
  font-size: 40px;
  margin-top: 200px;
  width: 700px;
}

.toast-startPeople {
  font-size: 25px;
  margin-top: 200px;
  width: 450px;
  height: 200px;
  text-align: center;
}
.toast-host-out {
  background: black !important;
  color: orange;
  font-size: 25px;
  margin-top: 200px;
  width: 450px;
  height: 200px;
  text-align: center;
}
.toast-start-alarm {
  width: 550px;
  height: 100px;
  font-size: 40px;
  color: black;
  font-weight: 500 !important;
}

.toast-day-time {
  width: 400px;
  height: 100px;
  font-size: 40px;
  color: black;
  font-weight: 500 !important;
}
.toast-night-time {
  width: 400px;
  height: 100px;
  font-size: 40px;
  background-color: black !important;
  color: white;
  font-weight: 500 !important;
}

.toast-police {
  font-size: 40px;
  width: 700px;
  height: 100px;
  color: rgb(248, 57, 57);
  background: #fccc00 !important;
}

.toast-dup {
  width: 850px;
  height: 100px;
  font-size: 40px;
  background-color: white !important;
  color: black;
  font-weight: 500 !important;
  margin-right: 400px;
}
.toast-duplication {
  width: 850px;
  height: 100px;
  font-size: 40px;
  background-color: white !important;
  color: black;
  font-weight: 500 !important;
  margin-right: 400px;
}

.toast-rep {
  width: 600px;
  height: 100px;
  font-size: 40px;
  background-color: white !important;
  color: black;
  font-weight: 500 !important;
}

.line {
  border: 3px solid orange;
}
