@font-face {
  font-family: 'neodgm';
  src: url('../assets/font/neodgm.ttf');
}

.App {
  text-align: center;
}

body * {
  font-family: 'neodgm';
}

@media only screen and (max-width: 635px) {
  .headerText {
    display: none;
  }
}

/* #naverIdLogin {
  display: none;
}

.naver {
  padding: 0.6em 1em;
  border-radius: 0.25em;
  font-size: 0.8rem;
  margin-top: 0.7em;
  display: flex;
  align-items: center;
  font-weight: 400;
  background-color: #03c75a;
  color: white;
}
.naver img {
  height: 0.9rem;
  margin-right: 0.7em;
  margin-left: 0.2em;
} */
