@font-face {
  font-family: 'neodgm';
  src: url('../assets/font/neodgm.ttf');
}

.App {
  text-align: center;
}

body * {
  font-family: 'neodgm';
}

@media only screen and (max-width: 635px) {
  .headerText {
    display: none;
  }
}
