.video_container {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  transition: 0.2s;
}

.video_grid {
  flex-direction: column;
  margin: 0 auto;
}

/* .video_grid :nth-child(3n + 1) {
  margin-left: 0px;
}
.video_grid :nth-child(n + 4) {
  margin-top: 25px;
} */

.video_box {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  object-fit: cover;

  transform: scaleX(-1);
}

.toasted {
  font-size: 40px;
  margin-top: 200px;
  width: 700px;
}

.toast-startPeople {
  font-size: 25px;
  margin-top: 200px;
  width: 450px;
  height: 200px;
  text-align: center;
}

.toast-time {
  font-size: 20px;
}

.toast-police {
  font-size: 20px;
}
